@import '../../styles/led';

:host {
  width: 75px;
  height: 150px;
  display: block;
}

.top {
  @include ledSquare();
  border-top: $turn-off-color 15px solid;
  border-bottom: $turn-off-color 6px solid;

  &-left-cross {
    @include cross();
    left: -16px;
    top: -7px;
    transform: rotate(38deg);
  }

  &-right-cross {
    @include cross();
    right: -16px;
    top: -7px;
    transform: rotate(-38deg);
  }

  &-middle-left-cross {
    @include cross();
    left: -17px;
    bottom: -6px;
    transform: rotate(-38deg);
  }

  &-middle-right-cross {
    @include cross();
    right: -16px;
    bottom: -7px;
    transform: rotate(38deg);
  }
}

.bottom {
  @include ledSquare();
  border-top: $turn-off-color 6px solid;
  border-bottom: $turn-off-color 15px solid;

  &-left-cross {
    @include cross();
    left: -16px;
    bottom: -7px;
    transform: rotate(-38deg);
  }

  &-right-cross {
    @include cross();
    right: -16px;
    bottom: -7px;
    transform: rotate(38deg);
  }


  &-middle-left-cross {
    @include cross();
    left: -17px;
    top: -6px;
    transform: rotate(38deg);
  }

  &-middle-right-cross {
    @include cross();
    right: -16px;
    top: -4px;
    transform: rotate(-38deg);
  }
}

.left-on {
    border-left-color: $turn-on-color;
}

.top-on {
    border-top-color: $turn-on-color;
}

.right-on {
    border-right-color: $turn-on-color;
}

.bottom-on {
    border-bottom-color: $turn-on-color;
}