@import '../../styles/led';

:host {
  display: block;
  background-color: $clock-bg-color;
  width: 700px;
}

.current-time {
  font-size: 40px;
}

.dots--hidden {
  opacity: 0;
}

.digits {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.seconds-dot {
  width: 10px;
  height: 10px;
  background-color: $turn-on-color;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.minutes-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__top {
    width: 10px;
    height: 10px;
    background-color: $turn-on-color;
    margin-bottom: 10px;
  }

  &__bottom {
    width: 10px;
    height: 10px;
    background-color: $turn-on-color;
  }

  &--hidden {
    background-color: $turn-off-color;
  }
}
